<div class="stock-table">
	<table>
		<thead>
			<td>Stock Name</td>
			<td>Stock Price</td>
			<td>Stock Create Date</td>
			<td>Last Updated on</td>
			<td>Action</td>
		</thead>
		<tbody>
			{% if stocks is defined %}
				{% for stock in stocks %}
					<tr>
						<td>
							<input type="text" name="name" class="name" id="{{ stock.getId() }}" value="{{ stock.getName() }}" disabled required>
						</td>
						<td>
							<input type="text" name="price" class="price" id="{{ stock.getId() }}" value="{{ stock.getPrice() }}" disabled required>
						</td>
						<td>
							<input type="text" value="{{ stock.getCreateDate() }}" disabled required>
						</td>
						<td>
							<input type="text" value="{{ stock.getLastUpdate() }}" disabled required>
						</td>

						<td>
							{% if stock.getOwner().getId() == userinfo.getId() %}
								<button id="{{ stock.getId() }}" class="delete">Delete</button>
								<button id="{{ stock.getId() }}" class="edit">Edit</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
